# Build output
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.rsuser

# Logs
logs/
*.log

# Editors
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

*.json
*.jsonl
*.txt
!cinematic-renderer/requirements.txt
*.patch
*.editorconfig
*.xml

Data/*
Dictionaries/*
Query/*

# Packaging artifacts
cinematic-renderer.zip
