# Build output
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.rsuser

# Logs
logs/
*.log

# Editors
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

*.json
*.txt
*.patch
*.editorconfig

Data/*
Dictionaries/*
Query/*
